<!doctype html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8">
        <title>Node.js Knockout 台灣黑客頌 - 48 小時不間斷挑戰</title>

        <!-- Load Lato font from Google Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>

        <!-- Force mobile devices to turn fullscreen mode -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Stylesheet assets -->
        <link rel="stylesheet" href="/stylesheets/reset.css">
            <link rel="stylesheet" href="/stylesheets/skeleton.css">
        <!-- /Stylesheet assets -->

        <!-- Template stylesheet -->
        <link href="/stylesheets/style_new.css" rel="stylesheet">
        <!-- /Template stylesheet -->

        <!-- Color scheme stylesheet -->
        <link href="/stylesheets/colors-red.css" rel="stylesheet" id="color_stylesheet">
        <!-- /Color scheme stylesheet -->

        <!-- Scripts -->
        <script src="/javascripts/jquery.js"></script>
        <script src="/javascripts/jquery.rotate.js"></script>
        <script src="/javascripts/jquery.breakit.js"></script>
        <script src="/javascripts/js.js"></script>
        <script src="/javascripts/plugin.js"></script>
        <!-- /Scripts -->
    </head>

    <body class="broken-animated">
        <div class="container">
          <div class="sns">
            <span class="tw-share"><a href="https://twitter.com/share" data-url="http://nodeknockout.nodejs.tw/" data-via="Node.JS KO Taiwan" data-hashtags="node.js hackthon" class="twitter-share-button">Tweet</a></span>
            <span class="g-share"><g:plusone size="small" href="http://nodeknockout.nodejs.tw/"></g:plusone></span>
            <span class="fb-like" data-href="http://nodeknockout.nodejs.tw/" data-layout="button_count" data-send="false" data-width="450" data-show-faces="false"></span>
          </div>
            <!-- HEADER -->
          <div id="header">
                <a href="http://registrano.com/events/nodeworkshop1" target="_blank" class="broken broken-swing" id="logo">
                    <img src="/images/workshop_node.png" alt="報名表" border="0">
                </a>
            <!-- NAVIGATION -->
            <!-- navigation -->
            <div id="nav">
              <ul>
                <li><a href="/">首頁</a></li>
                <li><a href="/agenda">行程表</a></li>
                <li><a href="mailto:contact@nodejs.tw">如有問題請與我們聯絡 contact us.</a></li>
              </ul>
            </div>

            <div id="fullhouse">
              <strong>感謝各位</strong> Node Knockout 台灣站，報名額滿，歡迎新手朋友參加 Node.js 工作坊，一起邁向明年 Node Knockout<br>
            </div>
            <p class="zh">
              <strong>參加辦法：</strong>對內參賽名冊，將送件至 <a href="http://nodeknockout.com/" target="_blank">NodeKnockout 主站</a>，審核通過將會寄送郵件通知，請激活您的帳號，報名截止日期於 2012年11月02日 ，實況以國際時間為主。<br>
              <strong>參加資格：</strong>報名需完成以上步驟，取得通知信件，以茲證明參賽資格隊伍需一人以上，四人以內團隊程式需要發佈至 GITHUB.COM ，同時發佈於 NODEJITSU，參照國際規定黑客頌程式，限定於比賽 48 小時，逐步建立，不得有偷吃步行為。比賽開始前，建議將共用模組抽出，打造初步藍圖，以免向隅<br>
              <strong>活動地點：</strong>中央研究院 資訊科學研究所 台北市南港區研究院路二段128號 <br>
            </div>
            <!-- /HEADER -->

            <!-- ADDITIONAL MESSAGE -->
          <div id="message">
                <p class="ultrabold">2012/11/10 - 11/11</p>
                <p>AM8:00 Start<br><span class="ultrabold">48HR!</span></p>
            </div>
            <!-- /ADDITIONAL MESSAGE -->

            <!-- ERROR MESSAGE -->
          <h1 id="error">
              <span id="core">NODE.JS</span>
              <span id="core2">KO</span>
          </h1>
            <!-- /ERROR MESSAGE -->
        </div>
        <footer>
          <div class="bd">
            <ul>
              <li class="host">
                <div class="header">主辦單位：</div>
                <ul class="host-list clearfix">
                  <li class="micloud"><a href="http://micloud.tw" target="_blank" title="MiCloud tw"><img src="/images/micloud-logo-big.png"></a></li>
                  <li class="ossf"><a href="http://www.openfoundry.org/" target="_blank" title="自由軟體鑄造場"><img src="/images/ossf.png"></a></li>
                  <li class="jsdc"><a href="http://jsdc.tw" target="_blank" title="JSDC Taiwan"><img src="http://jsdc.tw/2013/img/website_logo.png"></a></li>
                  <li class="node"><a href="http://nodejs.tw" target="_blank" title="Node.js Taiwan"><img src="/images/nodetw.jpg"></a></li>
                </ul>
              </li>
              <li class="sponsor">
                <div class="header">贊助單位：</div>
                <div class="sponsor-list clearfix">
                  <ul class="sheet" >
                    <li class="aotter"><a href="http://www.aotter.net/" target="_blank" title="aotter"><img src="/images/aotter.png"></a></li>
                  </ul>
                </div>
              </li>
              <li class="thanks">
                <div class="header">特別感謝：</div>
                <div class="thanks-list clearfix">
                  <ul class="list">
                    <li class="citi"><a href="http://www.citi.sinica.edu.tw/" target="_blank" title="citi"><img src="/images/citi.png"></a></li>
                    <li class="nsc"><a href="http://web1.nsc.gov.tw/" target="_blank" title="nsc"><img src="/images/nsc.jpg"></a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </footer>
    </body>
</html>
