<!doctype html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8">
        <title>Node.js Knockout 台灣黑客頌 - 48 小時不間斷挑戰</title>

        <!-- load lato font from google web fonts -->
        <link href='http://fonts.googleapis.com/css?family=lato:300,400,700,900' rel='stylesheet' type='text/css'>

        <!-- force mobile devices to turn fullscreen mode -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- stylesheet assets -->
        <link rel="stylesheet" href="/stylesheets/reset.css">
            <link rel="stylesheet" href="/stylesheets/skeleton.css">
        <!-- /stylesheet assets -->

        <!-- template stylesheet -->
        <link href="/stylesheets/style_new.css" rel="stylesheet">
        <!-- /template stylesheet -->

        <!-- color scheme stylesheet -->
        <link href="/stylesheets/colors-red.css" rel="stylesheet" id="color_stylesheet">
        <link href="/stylesheets/ui-darkness/jquery-ui-1.9.1.custom.min.css" rel="stylesheet">
        <!-- /color scheme stylesheet -->

        <!-- scripts -->
        <script src="/javascripts/jquery.js"></script>
        <script src="/javascripts/jquery.rotate.js"></script>
        <script src="/javascripts/jquery.breakit.js"></script>
        <script src="/javascripts/js.js"></script>
        <script src="/javascripts/jquery-ui-1.9.1.custom.min.js"></script>
        <script type="text/javascript" src="/javascripts/plugin.js"></script>
        <!-- /scripts -->
    </head>

    <body class="broken-animated">
        <div class="container">
          <div class="sns">
            <span class="tw-share"><a href="https://twitter.com/share" data-url="http://nodeknockout.nodejs.tw/" data-via="Node.JS KO Taiwan" data-hashtags="node.js hackthon" class="twitter-share-button">Tweet</a></span>
            <span class="g-share"><g:plusone size="small" href="http://nodeknockout.nodejs.tw/"></g:plusone></span>
            <span class="fb-like" data-href="http://nodeknockout.nodejs.tw/" data-layout="button_count" data-send="false" data-width="450" data-show-faces="false"></span>
          </div>
            <!-- header -->
          <div id="header">
                <a href="http://registrano.com/events/nodeworkshop1" target="_blank" class="broken broken-swing" id="logo">
                    <img src="/images/workshop_node.png" alt="報名表" border="0">
                </a>
            <!-- navigation -->
            <div id="nav">
              <ul>
                <li><a href="/">首頁</a></li>
                <li><a href="/agenda">行程表</a></li>
                <li><a href="/judge">評審介紹</a></li>
                <li><a href="mailto:contact@nodejs.tw">如有問題請與我們聯絡 contact us.</a></li>
              </ul>
            </div>
<div id="tabs">
    <ul>
        <li><a href="#judge">評審介紹</a></li>
    </ul>
    <div id="judge" class="clearfix">
      <div class="preface">
      </div>
      <div class="schedule clearfix">
        <table>
        <thead>
        <tr>
        <th> 照片    </th>
        <th> 簡介 </th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td> <img src="/images/brecht.jpg"> </td>
        <td>黃柏諺, <br>Brecht,<br> iT邦幫忙產品經理、iThome電腦報<br> 從1996年寫下第一行alert('Hello World')開始，便著迷於JavaScript的魅力，並觀注著JS究竟會把我們帶向宇宙的哪一個盡頭
        </td>
        </tr>
        <tr>
        <td>
          <img src="/images/fillano.png">
        </td>
        <td>馮旭平<br>Fillano,費大公,<br>
            鑫景科技產品企劃、即時利尼克斯有限公司企劃部經理、吉立富資訊管理股份有限公司專案經理<br>
            <p>大約自2000年就開始接觸及使用Javascript，並用來開發專案，也持續關心Javascript相關技術及其發展。大約自2006年開始固定在blog上撰寫PHP與Javascript相關技術文章，2009年之後數次以Javascript相關技術主題參加IT邦幫忙網站舉辦之IT邦幫忙鐵人賽，並在2010以html5、2011年以node.js為主題獲獎。除了Javascript外，工作上主要使用PHP、Java、C以及C#等語言進行開發，並專注在開發網站相關應用。</p>
        </td>
        </tr>
        <tr>
        <td>
          <img src="/images/jesse.png">
        </td>
        <td>趙元瀚,<br>Jesse,<br>
            MiCloud發起人、營運總監；資訊服務研發處 處長公司名稱：神通資訊科技<br>
            <p>歷任國內數個大型交通控制系統專案經理，擅長大型系統軟硬體架構設計，目前帶領MiCloud團隊進行研發，希望在公有雲上打造出各種嶄新的應用。</p>
        </td>
        </tr>
        <tr>
        <td>
          <img src="/images/lucaswang.jpg">
        </td>
        <td>Lucas Wang,<br>
            TMI台灣創意工場 創辦人首席執行官<br>
            <p>在創辦並成為TMI Holding Group(台灣創意工場)的首席執行官的同時，Lucas也在美商中經合集團擔任投資合夥人六年。他带領美商中經合集團的台北和北京辦事處在TMT(電信，媒體和技術)方面的投資。他在北京的工作,包括與Kaifu Lee密切合作的創新工場，促進投資活動。在他任職期間，Lucas有幾項投資成果, SemiLEDs（Nasdaq：LEDS，2011年）和21Vianet（Nasdaq：VNET，2011年），並主導SNS Plus（台灣）和Leiyoo（北京）的早期投資。</td>
        </td>
        </tr>
        </tbody>
        </table>
        <span align="left">以上順序依照英文名稱排序</span>
      </div><!-- end of #schedule -->
    </div>
</div>
            </div>
            <!-- /HEADER -->

            <!-- ADDITIONAL MESSAGE -->
          <div id="message">
                <p class="ultrabold">2012/11/10 - 11/11</p>
                <p>AM8:00 Start<br><span class="ultrabold">48HR!</span></p>
            </div>
            <!-- /ADDITIONAL MESSAGE -->

            <!-- ERROR MESSAGE -->
          <h1 id="error">
              <span id="core">NODE.JS</span>
              <span id="core2">KO</span>
          </h1>
            <!-- /ERROR MESSAGE -->
        </div>
        <footer>
          <div class="bd">
            <ul>
              <li class="host">
                <div class="header">主辦單位：</div>
                <ul class="host-list clearfix">
                  <li class="micloud"><a href="http://micloud.tw" target="_blank" title="MiCloud tw"><img src="/images/micloud-logo-big.png"></a></li>
                  <li class="ossf"><a href="http://www.openfoundry.org/" target="_blank" title="自由軟體鑄造場"><img src="/images/ossf.png"></a></li>
                  <li class="jsdc"><a href="http://jsdc.tw" target="_blank" title="JSDC Taiwan"><img src="http://jsdc.tw/2013/img/website_logo.png"></a></li>
                  <li class="node"><a href="http://nodejs.tw" target="_blank" title="Node.js Taiwan"><img src="/images/nodetw.jpg"></a></li>
                </ul>
              </li>
              <li class="sponsor">
                <div class="header">贊助單位：</div>
                <div class="sponsor-list clearfix">
                  <ul class="sheet" >
                    <li class="aotter"><a href="http://www.aotter.net/" target="_blank" title="aotter"><img src="/images/aotter.png"></a></li>
                  </ul>
                </div>
              </li>
              <li class="thanks">
                <div class="header">特別感謝：</div>
                <div class="thanks-list clearfix">
                  <ul class="list">
                    <li class="citi"><a href="http://www.citi.sinica.edu.tw/" target="_blank" title="citi"><img src="/images/citi.png"></a></li>
                    <li class="nsc"><a href="http://web1.nsc.gov.tw/" target="_blank" title="nsc"><img src="/images/nsc.jpg"></a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </footer>
<script>
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>
    </body>
</html>
